:root {
    --main-bg-color: #fff;
    --sub-bg-color: #000;
    --sub-text-color: #fff;
    --accent-color: red;
    --checkbox-color: blue;

    --main-text-color: #000;

    --first-brand-color: #28104e;
    --second-brand-color: #deacf5;
    --third-brand-color: #9754cb;

    --main-font: 'Open Sans Condensed';
    --title-font: 'Encode Sans SC Expanded';
    
    font-size: 62.5%;
}